.section-sobre-img {
  background-image: url('/imgs/sobre-nos/1.jpg');
  background-size: cover;
  position: relative;
  height: 335px;
  width: 90%;
  border-radius: 4px;
}

.section-sobre-img::before {
  content: '';
  background: #ccf4e6;
  height: 100%;
  width: 100%;
  position: absolute;
  top: -6.8%;
  left: -20.2%;
  z-index: -1;
  border-radius: 4px;
}

.section-sobre {
  margin: 0;
  display: grid;
  gap: 2rem;
}

.section-sobre .text {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
