.section-depoimentos {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  background: white;
}

.section-card-depoimentos {
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08);
  padding: 32px;
  margin-top: 64px;
  border-radius: var(--radius-slim);
}

.section-card-depoimento img {
  height: 32px;
}

.section-card-nome-usuario {
  margin-left: 8px;
}

.section-usuario-depoimento {
  display: flex;
  flex-direction: row;
  align-content: center;
  margin-top: 24px;
}
