footer {
  width: 100%;
  color: white;
  background: var(--color-primary);
  padding-bottom: 2rem;
  padding-top: 2rem;
}

footer img {
  margin-top: 2rem;
  height: 2rem;
}

.footer-social {
  margin-bottom: 1.5rem;
}
.footer-social img {
  margin-left: 1.5rem;
}
