@import url(./reset.css);
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

/* mobile 768px */
@import url(./mobile/sections-mobile/sections-mobile.css) only screen and
  (max-width: 768px);

/* desktop */

@import url(./header.css);
@import url(./footer.css);

:root {
  --color-background: #f9f9f9;
  --color-primary: #69b99d;
  --color-secondary: #ccf4e6;
  --color-light-grey: #e4e4e4;
  --color-gray: #767676;
  --color-dark: #0f241d;

  /* Fonte corpo */
  --font-01: 'DM Sans', sans-serif;

  /* Fonte títulos */
  --font-02: 'Poppins', sans-serif;

  --radius-slim: 4px;
}

body {
  margin: 0;
  font-family: var(--font-01);
  font-size: 16px;
  line-height: 26px;
  background: var(--color-background);
  color: var(--color-gray);
}

main {
  margin-top: calc(72px + 1.5rem);
}

section {
  padding-top: 80px;
  padding-bottom: 80px;
}

.text-h1 {
  font-size: 30px;
  line-height: 45px;
  font-family: var(--font-02);
  color: #000;
  margin: 0 auto;
}

.btn {
  height: 56px;
  background: var(--color-primary);
  border-radius: var(--radius-slim);
  font-size: 16px;
  padding-left: 32px;
  padding-right: 32px;
  color: white;
  border: none;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--color-secondary);
  color: var(--color-primary);
}

p {
  margin: 0 auto;
}

#header img {
  margin-left: 1.5rem;
  height: 32px;
  cursor: pointer;
}

.icon-menu {
  margin-right: 1.5rem;
}

.radius-slim {
  border-radius: var(--radius-slim);
}

.divider-1 {
  height: 1px;
  background: linear-gradient(
    270deg,
    #69b99d 0%,
    rgba(204, 244, 230, 0.34) 100%
  );
}

hr {
  margin: 0;
}

.container {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}
